.root {
    -fx-font: bold italic 20pt "Arial";
    -fx-font-size: 24px;
    -fx-background-color: #d5d5d5;
    -fx-alignment: center;
}

.label {
    -fx-alignment: center;
    -fx-text-alignment: center;
}